@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

h2 {
    border-bottom: dashed 1px #428bca;
    margin-bottom: 2ex;
    padding-bottom: 0.5ex;
    color: #428bca;
}

h3.sezione {
	color: #428bca;
}


.sezioni-etichette {
    list-style: none;
}


.sezioni-etichette li p{
    white-space: pre;
    border-top: solid 1px #428bca;
    margin-top: -2ex;
    margin-left: 3px;
    padding-top: 4ex;
    background-color: #FEFEFE;
}

.sezioni-etichette footer {
    text-align: right;
    font-style: italic;
    color: #AAAAAA;
}

table.analisi {
    font-size: 11pt;
    font-family: 'Droid Sans Mono';
    /* letter-spacing: -0.05em;*/
}

table.analisi th {
    
    /* background: #d9edf7 !important; */
	border-bottom: solid 3px silver !important;
    text-align: center;
}

table.analisi td {
    padding: 1px !important;
	/* border-bottom: dotted 1px silver !important;
	border-top: dotted 1px silver !important;*/
}


#esamiLaboratorioVisita {
    width: 300px;
    margin-left: -214px;
}    
#esamiLaboratorioVisita li {
    border-bottom: dotted #EEEEEE 1px;
    padding: 3px;
} 

#esamiLaboratorioVisita li a .pull-right i .fa-ellipsis-v{
color: #AAAAAA;
}  
