h2 {
    border-bottom: dashed 1px #428bca;
    margin-bottom: 2ex;
    padding-bottom: 0.5ex;
    color: #428bca;

}


.sezioni-etichette {
    list-style: none;
}


.sezioni-etichette li p{
    white-space: pre;
    border-top: solid 1px #428bca;
    margin-top: -2ex;
    margin-left: 3px;
    padding-top: 4ex;
    background-color: #FEFEFE;
}

.sezioni-etichette footer {
    text-align: right;
    font-style: italic;
    color: #AAAAAA;
}

table.analisi {
    font-size: 9pt; 
    font-family: Courier;
    letter-spacing: -0.05em;
}

table.analisi th {
    background: #428bca !important;
    color: #FEFEFE;
    text-align: center;
}

table.analisi td {
    
}


